*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Inter";
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-form h1{
    font-size :35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}
.login-form input{
min-width: 380px;
padding: 20px 0;
padding-left: 15px;
margin-bottom: 10px;
outline: none;
border: 1px solid black;
border-radius: 2px;
font-size: 15px;
}
.login-btn{
    cursor: pointer;
    padding: 17px 30px ;
    margin-top: 10px;
    background:#2691d9;
    border: none;
    color: white;
    font-size: 24px;
    font-family: "Inter";
    border-radius: 3px;
}
